<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Measuring plants</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</head>

<body>
    <div class="wrapper">
        <div class="textbox">
            <p>
                Temperature Celsius :: {{ temperature }}
                <br>
                Moisture% :: {{ moisture }}
                <br>
                Water detected :: {{water}}
                <br>
                Pump status :: {{pump}}
            </p>
        </div>
        <div class="moisturebox">
            <canvas id="chart"></canvas>
        </div>
    </div>
    <script>
        console.log('{{temperature[0]}}', '{{moisture}}', '{{legend[0]}}')
        var dummytime = ['Wed, 27 Apr 2022 19:40 GMT', 'Wed, 27 Apr 2022 19:45 GMT', 'Wed, 27 Apr 2022 19:50 GMT', 'Wed, 27 Apr 2022 19:55 GMT', 'Wed, 27 Apr 2022 20:00 GMT']
        var dataTemp = {
                        label: '{{legend[1]}}',
                        data: [25, 26, 27, 26, 28],
                        lineTension: 0,
                        fill: false,
                        backgroundColor: [
                            'red',
                        ],
                        borderColor: [
                            'red',
                        ],
                        yAxisID: 'y'
                    }
        var dataMoisture = {
                        label: '{{legend[0]}}',
                        data: [75, 77, 76, 77, 76],
                        lineTension: 0,
                        fill: false,
                        backgroundColor: [
                            'blue',
                        ],
                        borderColor: [
                            'blue',
                        ],
                        yAxisID: 'y1'
                    }
        var ctx = document.getElementById("chart").getContext("2d")
        var chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dummytime,
                datasets: [dataTemp, dataMoisture]
            },
            options: {
                interaction: {
                mode: 'index',
                intersect: false,
                },
                stacked: false,
                scales: {
                    y: {
                        beginAtZero: true,
                        type: 'linear',
                        display: true,
                        position: 'left',
                    },
                    y1: {
                        beginAtZero: true,
                        type: 'linear',
                        display: true,
                        position: 'right',

                        // grid line settings
                        grid: {
                        drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                    },
                }
            }
        });
    </script>
</body>
</html>