<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Measuring plants</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
        integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    <div class="wrapper">
        <div class="textbox">
            <p>
                Temperature Celsius :: {{ temperature }}
                <br>
                Moisture% :: {{ moisture }}
                <br>
                Water detected :: {{water}}
                <br>
                Pump status :: {{pump}}
            </p>
        </div>
        <div class="moisturebox">
            <canvas id="chart"></canvas>
        </div>
    </div>
    <script>

        var dataTemp = [2, 3, 4, 5, 6, 2];
        var dataTemperature = [2, 3, 4, 5, 6, 2];
        var dataHumidity = [2, 3, 4, 5, 6, 2];
        var dataWater = [2, 3, 4, 5, 6, 2];
        var dataPump = [2, 3, 4, 5, 6, 2];
        var dummytime = [1, 2, 3, 4, 5, 6];
        var data;
        var chart = new Chart("chart", {});

        function drawChart2() {
            console.log("drawing chart")
            chart.destroy();
            chart = new Chart("chart", {
                type: "line",
                data: {
                    labels: dummytime,
                    datasets: [{
                        data: dataTemperature,
                        borderColor: "red",
                        fill: false,
                        label: "Temperature"
                    }, {
                        data: dataHumidity,
                        borderColor: "green",
                        fill: false,
                        label: "Humidity"
                    }, {
                        data: dataPump,
                        borderColor: "blue",
                        fill: false,
                        label: "Pump"
                    }, {
                        data: dataWater,
                        borderColor: "orange",
                        fill: false,
                        label: "Water Sensor"
                    }]
                },
                options: {
                    legend: { display: true },
                    title: {
                        display: true,
                        text: "Historical Data"
                    }
                }
            });
        }

        function updateChart(chart) {
            chart.data.labels.push(dummytime)
            chart.data.datasets[0].data.push(dataTemperature)
            chart.data.datasets[1].data.push(dataHumidity)
            chart.data.datasets[2].data.push(dataPump)
            chart.data.datasets[3].data.push(dataWater)
            chart.update();
        }

        function getData() {
            var xmlhttp = new XMLHttpRequest();
            console.log("loading ...");
            xmlhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    console.log(this.responseText)
                    data = JSON.parse(this.responseText);
                    console.log(data)

                } else {
                    console.log(this.status);
                    console.log(this.readyState);
                }
            };
            xmlhttp.open("GET", "/data", true);
            xmlhttp.send();

            dataTemperature = data.Temperature
            var index = dataTemperature.length;
            document.getElementById('temp').innerHTML = dataTemperature[index - 1];
            dataHumidity = data.Humidity
            document.getElementById('humid').innerHTML = dataHumidity[index - 1];
            dataPump = data.Pump
            if (dataPump[index - 1] == 0) {
                document.getElementById('pp').innerHTML = "PUMP OFF";
                document.getElementById('pp').style.backgroundColor = 'gray';
                document.getElementById('pp').style.color = 'black';
            } else {
                document.getElementById('pp').innerHTML = "PUMP ON";
                document.getElementById('pp').style.backgroundColor = 'green';
                document.getElementById('pp').style.color = 'white';
            }

            dataWater = data.Water
            if (dataWater[index - 1] == 0) {
                document.getElementById('wt').innerHTML = "WATER DETECTED";
                document.getElementById('wt').style.backgroundColor = 'blue';
                document.getElementById('wt').style.color = 'white';
            } else {
                document.getElementById('wt').innerHTML = "NO WATER DETECTED";
                document.getElementById('wt').style.backgroundColor = 'red';
                document.getElementById('wt').style.color = 'white';
            }
            dummytime = data.Time
            drawChart2();
        }
        setInterval(getData, 2000)
    </script>
</body>

</html>